@model IEnumerable<EtutTakipSistemi.Models.Ders>

@{
    ViewData["Title"] = "Ders Listesi";
}

<h2>Ders Listesi</h2>

<table class="table">
    <thead>
        <tr>
            <th>Ad</th>
            <th>Açıklama</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var ders in Model)
    {
        <tr>
            <td>@ders.Ad</td>
            <td>@ders.Aciklama</td>
        </tr>
    }
    </tbody>
</table>

<a href="/Ders/Create" class="btn btn-primary">Yeni Ders Ekle</a>
